/* El asterisco es un selector universal, todo lo que se encuentre dentro afectara a todo el html */
* {
    color: black;
}
p {
    font-family: arial;
}

/* este es el selector por tipo */
li {
    color:darkblue;
    font-family: Georgia;
    font-style: italic;
}

/* selector por clase */
.description {
    font-family: 'Lucida Sans';
}

.origin {
    font-family: Arial, Helvetica, sans-serif;
}

#cliff {
    font-family: 'Segoe UI';

}
h1 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 50px;
    font-style: italic;
}
